<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/findpwd.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	</head>
	<body>
	   <include file="./Application/Home/View/Public/header.html" />
	   <div class="main">
	   		<!--头部-->
	   		<!--<div class="header">
	   			<img src="__PUBLIC__/image/logoletter.png"/>
	   			<a href="__URL__/login">登录</a><a href="__URL__/register">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
	   		</div>-->
	   		<!--主题内容-->
	   		<div class="contant">
	   			<div>
	   				用户名：<input  class="shuru" type="text" name="username" style="color:#666" placeholder="邮箱账号">
	   			</div>
	   			<div>
	   				验证码：<input  class="shuru" type="text" name="code" style="width:140px"/><input type="button" name=""	 value="获取验证码" style="width:80px;margin-left:20px;height:42px;background:#C22830;color:#fff;cursor: pointer;"/>
	   			</div>
	   			<div>
	   				<input class="submit" type="submit" value="确定"/>
	   			</div>
	   		</div>
	   </div>
	   <!-- 尾部引入 -->
	   <include file="./Application/Home/View/Public/footer.html" />
	</body>
</html>