<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/findpwd.css">	
	</head>
	<body>
	   <include file="./Application/Home/View/Public/header.html" />
	   <div class="main">
	   		<!--头部-->
	   		<!--<div class="header">
	   			<img src="__PUBLIC__/image/logoletter.png"/>
	   			<a href="__URL__/login">登录</a><a href="__URL__/register">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册</a>
	   		</div>-->
	   		<!--主题内容-->
	   		<div class="contant">
	   			<div>
	   				用户名：<input  class="shuru" type="text" name="username" style="color:#666" placeholder="邮箱账号" id="username">
	   			</div>
				<p style="color:red;" id="yxts"></p>
	   			<div>

	   				验证码：<input  class="shuru" type="text" name="code" style="width:140px" id="code"/><input type="button" name="" id="yzm"	onclick="sendmail();" value="获取验证码" style="width:80px;margin-left:20px;height:42px;background:#2283D2;color:#444"/>
	   				
	   			</div>
				<p style="color:red;" id="yzmts"></p>
				<div id="password" style="display:none;">
	   				密&nbsp&nbsp&nbsp码：<input  class="shuru" type="text"  style="color:#666" placeholder="请输入密码" id="pwd">
	   			</div>
	   			<div>
	   				<input class="submit" type="button" value="确定" onclick="f1();"/>
	   			</div>
	   		</div>
	   </div>
	   <script type="text/javascript" src="/e-market/Public/js/jquery.min.js"></script>
	   <script type="text/javascript">
			function trimStr(str){return str.replace(/(^\s*)|(\s*$)/g,"");}
			var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
			var pl=0;
			function f1(){
			if(pl>0){
			   var password=trimStr($("#pwd").val());
			  
			                    $.ajax({
						               asnyc:false,
							           url:"__URL__/repwd",
							           type:"post",
						               data:"pwd="+password,
                                       success:function(res){
							               if(res=="success"){
									           
									       }else{
										      alert("请重试");
									          window.location.href="__URL__/findpwd";
									       }
							           },
						         });
			}
			   var username=trimStr($("#username").val());
			   var code=trimStr($("#code").val());
			   if(username){
			      $("#yxts").html("");
                    if(!reg.test(username)) {
                           $('#yxts').html("请输入有效的邮箱地址！");
                    }else{
					       if(code){
				                 $("#yzmts").html("");
								 $.ajax({
						               asnyc:false,
							           url:"__URL__/getmd",
							           type:"post",
						               data:"con="+code,
                                       success:function(res){
							               if(res=="success"){
									           $("#password").css("display","block");
											   pl++;
									       }else{
									           $("#yzmts").html("验证码错误，请重试");
									       }
							           },
						         });
					       }else{
				                 $("#yzmts").html("请您填写验证码");
				           }
					}
			      
			   }else{
			  // alert("sdfs");
			      $("#yxts").html("邮箱不能为空");
			   }
			}
			function sendmail(){
			     var username=trimStr($("#username").val());
				 if(username){
                    if(!reg.test(username)) {
                           $('#yxts').html("请输入有效的邮箱地址！");
                    }else{
					        $.ajax({
						    asnyc:false,
							url:"__URL__/sendpwd",
							type:"post",
						    data:"con="+username,
                            success:function(res){
							        if(res=="发送成功"){
									  alert("发送成功");
									  $("#yzm").attr("disabled","true");
									  var i=60;
				                      var time=setInterval(function(){
				                         if(i>0){
				                            $('#yzm').val(i+"秒后重发");
						                    i--;
				                         }else{
				                            $('#yzm').val("获取验证码");
                                            document.getElementById("yzm").disabled=false;											
				                            clearInterval(time);
				                         }
				                     },1000);
									}else{
									   alert("res");
									}
							    },
						    });
					}
			   }else{
			      $("#yxts").html("邮箱不能为空");
			   }
			}
	   </script>
	   <!-- 尾部引入 -->
	   <include file="./Application/Home/View/Public/footer.html" />
	</body>
</html>