<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" href="__PUBLIC__/css/login.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	</head>
	<body>
		<!-- 引入头部 -->
		<include file="./Application/Home/View/Public/header.html" />
	    <!--整体布局-->
		<div class="main">
		<!--中间部分-->
		<div class="owner">
		<!--登陆表格-->
		<div class="contant">
		
		<div class="login_title">账户登录</div>
		<p style="color:red;" id="ts"></p>
		 <form name="form" method="post">
		     <div class="filed">
			 	<input class="input_test" type="text" style="color:#666;" placeholder="手机号/会员名/qq邮箱" id="username"/>
			 </div>
			 <div class="filed">
			 	<input class="input_test" type="text" style="color:#666;" placeholder="请输入密码" id="password" />
			 </div>            
             <div class="link">
			 	<a class="forgetpsw" href="__URL__/findpwd">忘记密码</a>
			 	<a class="sign" href="__URL__/register">注册</a>
			 </div>
             <div> 
             	<input class="submit" type="button" value="登录" onclick="f1();"/>
			 </div>		
		 </form>
			<!--输入框文字隐藏功能-->
			<script type="text/javascript" src="/e-market/Public/js/jquery.min.js"></script>
			<script type="text/javascript">
			function trimStr(str){return str.replace(/(^\s*)|(\s*$)/g,"");}
			$(function(){
			$('.input_test').bind({
			focus:function(){
			if (this.value == this.defaultValue){
			this.value="";
			}
			},
			blur:function(){
			if (this.value == ""){
			this.value = this.defaultValue;
			}
			}
			});
			})
			function f1(){
			     var username=trimStr($("#username").val());
				 var password=trimStr($("#password").val());
				
				 if(username){
				     if(password){
					     $.ajax({
						    asnyc:false,
							url:"__URL__/do_login",
							type:"post",
						    data:"username="+username+"&password="+password,
                            success:function(res){
							          if(res=="failure"){
									       $("#ts").html("账户或密码错误");
									  }else{
									    
									  }
							    },
						 });
					 }else{
					    $("#ts").html("密码不能为空");
					 }
				 }else{
				 
				     $("#ts").html("用户名不能为空");
				 }
			}
			</script>

		 </div>
		</div>
		</div>
		</div>
		<include file="./Application/Home/View/Public/footer.html" />
	</body>
</html>