/*
author : huangyifan
version : 1.0
date : 2016.7.8
descriptioin : 公有css
*/
* {
	margin:0;
	padding:0;
}
html {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #333;
}
ul {
	list-style-type: none;
}

/*网页整体包裹区*/
#wrapper {
	min-width:1200px;
	width:100%;
	min-height:800px;
	float:left;
	background: #ddd;
}
.container {
	width:1200px;
	margin:0 auto;
}

/*顶部*/
#banner {
	width:100%;
	height:38px;
	background: #F5F5F5;
	font-size:0.85em;
}
.banner-user {
	float:left;
	width:150px;
	height:100%;
	line-height: 38px;
}
.banner-user span {
	margin-right:10px;
	float: left;
}
.banner-user span:first-child a {
	color:red;
}
.banner-right {
	width:auto;
	float:right;
}
.banner-right-ul {
	float: right;
	line-height: 38px;
}
.banner-right-ul li {
	min-width:70px;
	margin-right:10px;
	float: left;
}
.banner-right-ul li a {
	display: inline-block;
	width:100%;
	height:100%;
	text-align: center;
	color:#666;
}
.banner-right-ul li a:hover {
	background: #fff;
}

/*头部*/
#header {
	width:100%;
	height:130px;
	background: #fff;
	float: left;
	border-bottom:2px solid #C22830;
}
/*logo图片*/
#header .logo {
	width:220px;
	height:80px;
	margin-top:25px;
	margin-left: 8px;
	float: left;
}
#header .logo img{
	width:100%;
	height:100%;
	float: left;
}
/*搜索区域*/
#header .search {
	width:60%;
	height: 80px;
	margin-top:28px;
	margin-left: 50px;
	float:left;
	/*border:1px solid black;*/
}
.search form {
	width:100%;
}
/*搜索导航*/
.search form div.guide {
	width:100%;
	height:28px;
	float: left;
	line-height: 28px;
}
.search form div.guide span{
	min-width:60px;
	height:28px;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	font-size: 0.9em;
	float: left;
}
.search form div.guide span:hover {
	/*background: #C2a8a6;*/
	/*color:#C22830;*/
	cursor: pointer;
}
.guide-active {
	color: #fff;
	background: #C22830;
}
/*搜索区域*/
.search form div.search-input{
	width:100%;
	height:35px;
	float: left;
}
.search form div.search-input input[type=text]{
	width:80%;
	height:35px;
	font-size: 1.0em;
	font-weight: 200;
	padding-left:5px;
	float: left;
	border:2px solid #C22830;
}
.search form div.search-input input[type=submit] {
	width:16%;
	height:38px;
	float: left;
	font-size: 1.15em;
	letter-spacing: 2px;
	color: #fff;
	border:0px;
	background: #C22830;
}
.search form div.search-input input[type=submit]:hover {
	cursor: pointer;
}
/*搜索结果*/
.search-answer {
	width:97%;
	min-height:0px;
	max-height:270px;
	border:1px solid #999;
	position: relative;
	top:0px;
	z-index: 999;
	float: left;
	background: #fff;
	display: none;
}
.search-answer-left {
	width:50%;
	top:0;
	float: left;
}
.search-answer-right {
	width:50%;
	float: right;
	display: none;
}
.search-ul {
	width: 100%;
	float: left;
}
.search-ul li{
	width:100%;
	height:27px;
	line-height: 27px;
	float: left;
	display: inline-block;
	text-indent: 10px;
	color:#333;
	cursor: pointer;
}
.search-ul li:hover {
	background: #E6E6E6;
}
.search-ul li a{
	width:100%;
	height:100%;
	float: left;
}
/*尾部*/
#footer {
	width:100%;
	height:200px;
	float: left;
	padding-bottom: 15px;
	background: #fff;
}
.footer-top {
	height:100px;
	width:100%;
	background-image: url(../image/system/footer.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
}
.footer-bottom {
	width: 100%;
	height: 100px;
	float: left;
	text-align: center;
	color:#333;
	font-size: 0.9em;
}
.footer-bottom div{
	line-height: 25px;
}
.footer-bottom-line1 {
	width:100%;
	float: left;
	margin-top:10px;
}
.footer-bottom-line1 span{
	display: inline-block;
	width:80px;	
	line-height: 25px;
}
.footer-bottom div.copyright a {
	color:#C22830;
}
