/*
author : huangyifan
version : 1.0
date : 2016.7.8
descriptioin : 首页css
*/
#main {
	width:100%;
	min-height:1500px;
	background: #f0f0f0;
	float: left;
}
#main div.container {
	margin-bottom: 20px;
	/*background: */
}
/*区块1*/
.block1 {
	height:420px;
	width:100%;
	float: left;
	background: #f0f0f0;
	position: relative;
}
/*侧导航*/
.sidenav {
	width:20%;
	height:420px;
	background: #b61d1d;
	float: left;
}
.sidenav-ul {
	width:100%;
	height:100%;
	float: left;
}
.sidenav-ul-li{
	width:100%;
	height:35px;
	line-height: 35px;
	font-size: 0.95em;
	color:#fff;
	float: left;
	display: block;
	text-indent: 15px;
}
.sidenav-ul-li a{
	width:100%;
	height:100%;
	float: left;
	display: inline-block;
	color:#fff;
}

a.sidenav-ul-li-current-a {
	color:#b61d1d;
	background: #fafafa;
}
/*显示导航类别详情*/
.show-side-area {
	width:80%;
	height:420px;
	position: absolute;
	float: left;
	background: #fafafa;
	top:0;
	left: 20%;
	z-index: 100;
	/*display: none;*/
}
.side-area-detail{
	width:98%;
	margin-left:2%;
	height:100%;
	text-indent: 0px;
	float: left;
}
/*导航区域列表*/
.side-area-detail-ul-area {
	width:72%;
	height:100%;
	float: left;	
}
.side-area-detail-ul {
	width:100%;
	height:35px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.side-area-detail ul:nth-child(1){
	margin-top:10px;
}
.side-area-detail-ul span{
	width:12%;
	height:35px;
	margin-right:4%;
	font-size: 0.86em;
	/*background: blue;*/
	line-height: 35px;
	display: inline-block;
	float: left;
	text-align: right;
}
.side-area-detail-ul span a{
	font-weight: bold;
	color: #666;
}
.side-area-detail-ul span a i{
	font-size: 0.8em;
	font-style: normal;
	font-family: consolas;
}
.side-area-detail-ul-li {
	width:auto;
	height:20px;
	padding-left:8px; 
	padding-right:8px; 
	display: inline-block;
	margin-top:7px;
	float: left:
	background:wheat;
	border-left:1px solid #ccc;
	text-align: center;
	overflow: hidden;
}
.side-area-detail-ul-li a {
	width:100%;
	height:20px;
	color:#777;
	line-height: 20px;
	font-size: 0.86em;
}
.side-area-detail-ul-li a:hover{
	color: #b61d1d;
}

/*详细导航区域 广告*/
.side-area-detail-ads{
	width:26%;
	height:100%;
	margin-left: 2%;
	float: right;
	background: #ddd;
	display: none;
}
/*图片区域*/
.ad-img {
	width:80%;
	height:410px;
	margin-top:10px;
	float: left;
}
/*中心大图片*/
.big-ad-img {
	width:73.5%;
	height:408px;
	margin-left:1.5%;
	border:1px solid #b61d1d;
	float: left;
	position: relative;
}
.big-ad-img a{
	width:100%;
	height:100%;
	position: relative;
	top:0;
	left:0;
}
.big-ad-img a img{
	width:100%;
	height:100%;
	float: left;
}
.big-ad-img span.big-ad-img-change{
	width:35px;
	height:70px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
	font-size: 1.5em;
	color:#fff;
	font-weight: 300;
	font-family: simsun;
	position:absolute;
	top:170px;
	z-index: 10;
	cursor: pointer;
	display: none;
}
.big-ad-img span.left{
	left:0px;
}
.big-ad-img span.right{
	right:0px;
}
/*小图标区域*/
.ad-img-icon {
	width:auto;
	height:20px;
	position: absolute;
	bottom:12px;
	right:15px;
}
/*小图标*/
.ad-img-icon span {
	width:35px;
	height:20px;
	margin-right:5px;
	display: inline-block;
	float: left;
	font-size: 0.8em;
	text-align: center;
	line-height: 20px;
	background: #333;
	color: #fff;
	cursor: pointer;
}
.ad-img-icon span:nth-child(1) {
	background: #b61d1d;
}
/*小图片区域*/
.small-ad-img{
	width:23%;
	height:410px;
	margin-right:4px;
	float: right;
}	
.small-ad-img-datail {
	width:100%;
	height:95px;
	margin-bottom:7px;
	border:1px solid #b61d1d;
	filter:alpha(opacity=85); /*IE滤镜，透明度50%*/
	-moz-opacity:0.85; /*Firefox私有，透明度50%*/
	opacity:0.85;
}
.small-ad-img-datail:hover{
	cursor: pointer;
	box-shadow:0px 0px 4px #b61d1d;
	filter:alpha(opacity=100); /*IE滤镜，透明度50%*/
	-moz-opacity:1.0; /*Firefox私有，透明度50%*/
	opacity:1.0;
}
.small-ad-img-datail-active{
	box-shadow:0px 0px 4px #b61d1d;
	filter:alpha(opacity=100); /*IE滤镜，透明度50%*/
	-moz-opacity:1.0; /*Firefox私有，透明度50%*/ 
	opacity:1.0;
}
.small-ad-img-datail img{
	width:100%;
	height:100%;
	float: left;
}
/*区块2*/
.publicblock{
	width:100%;
	height:290px;
	float:left;
	/*background: #ccc;*/
	margin-top:20px;
}
.block-title{
	height:35px;
	width:100%;
	float: left;
	font-size: 1.05em;
	color:#333;
}
.block-title h5{
	width:auto;
	display: inline-block;
	line-height: 35px;
	float:left;
	font-size: 1.2em;
	font-weight: 400;
}
.block-main{
	width:100%;
	height:255px;
	float:left;
	background: #fff;
	border:1px solid #e0e0e0;
}
.goods-block{
	width:200px;
	height:255px;
	float: left;
}
.goods-block-img {
	width:100%;
	height:70%;
	float: left;
	/*background: red;*/
}
.goods-block-img img{
	width:76%;
	height:82%;
	margin-left:12%;
	margin-top:12%;
	float:left;
}
.goods-block-description{
	width:100%;
	height: 25%;
	float: left;
	border-right:1px solid #e0e0e0;
}
.goods-title {
	width:80%;
	height:55%;
	margin-left:10%;
	float: left;
	display: inline-block;
	/*background: red;*/
	font-size: 0.8em;
	line-height: 1.4em;
	color:#303030;
	font-weight: 300;
	overflow: hidden;

}
.goods-title a:hover{
	color:#e4393c;
}
.goods-price{
	width: 80%;
	height:50%;
	margin-left:10%;
	color:#b51d1a;
	font-size: 1.2em;
	float: left;
	line-height: 2.0em;
}
.block2{

}
.block4{
	float: left;
	margin-bottom: 40px;
}
/*显示区域*/
.show {
	display: block;
}