/*整体布局*/
.contant{
	width:100%;
	min-height:800px;
	float:left;
	background-color:#F1F1F1;
}
/*第二层布局*/
.contanter{
	width:86%;
	min-height:800px;
	margin-left:7%;
	background:;
}
/*bought页面中侧边栏效果*/
.left{
	float:left;
	width:8%;
	height:770px;
	padding:30px;
	/*background-color:#666;*/
}
.left ul li a{
	font-size: 18px;
	/*font-family: "华文楷体";*/
	line-height: 40px;
}
.left ul li a:hover{
	color:#FF4400;
	text-decoration: underline;
}
.right{
	float:left;
	width:85%;
	min-height:800px;
	margin-bottom: 10px;
	/*background-color:#ccc;*/
}
.things{
	margin-top: 30px;
	float:left;
	width:100%;
	min-height:780px;
	background-color:#FFFFFF;
	border-radius: 5px;
	
}
.address{
	width:94%;
	margin-left: 3%;
	min-height:700px;
	margin-top:20px;
	/*background-color:pink;*/
}
.addresslist{
	width:100%;
	height:230px;
	border:4px solid #E6E6E6;
	margin-bottom: 20px;
}
.smc{
	margin:20px 20px 20px 20px;
	color:#666;
}
.litem{
	width:50%;
	float:left;
}
.ritem{
	float:left;
}
.item{
	height:38px;
	line-height: 38px;
}
.extra{
	margin-left:80%;
	margin-top:90px;
}
.extra a{
	color:blue;
}
.extra a:hover{
	color:#C81522;
}
