<!-- 
author : huangyifan
version : 1.0
date : 2016.7.8
description : 首页
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>好食光</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
	<!-- <script type="text/javascript" src="__PUBLIC__/js/index.js"></script> -->
</head>
<body>
<div id="wrapper">
	<!-- 引入头部 -->
	<include file="./Application/Home/View/Public/header.html" />

	<!-- 中心区 start -->
	<div id="main">
		<div class="container">
			<!-- 区块1 侧边导航、图片展示 -->
			<div class="block1">

				<include file="./Application/Home/View/Public/side.html" />

				<!-- 宣传图片区 -->
				<div class="ad-img">
					<!-- 中心大图片 -->
					<div class="big-ad-img">
						<a href=""><img src="__PUBLIC__/image/system/adimg1.jpg" index="0" class="big-ad-img-main"></a>
						<span class="big-ad-img-change left"><</span>
						<span class="big-ad-img-change right">></span>
						<div class="ad-img-icon">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
						</div>
					</div>
					<!-- 缩略图 -->
					<div class="small-ad-img">
						<div class="small-ad-img-datail small-ad-img-datail-active"><img src="__PUBLIC__/image/system/adimg1.jpg"></div>
						<div class="small-ad-img-datail"><img src="__PUBLIC__/image/system/adimg2.jpg"></div>
						<div class="small-ad-img-datail"><img src="__PUBLIC__/image/system/adimg3.jpg"></div>
						<div class="small-ad-img-datail"><img src="__PUBLIC__/image/system/adimg4.jpg"></div>
					</div>
				</div>
			</div>
			<!-- 区块2 -->
			<div class="publicblock block2">
				<div class="block-title">
					<h5>猜你喜欢</h5>
				</div>
				<div class="block-main">
					<volist name="love" id="love">
						<div class="goods-block" title="{$love.name}">
							<a href="__APP__/Home/Goods/detail?gid={$love.gid}"><div class="goods-block-img"><img src="__PUBLIC__/image/goods/{$love.img}"></div></a>
							<div class="goods-block-description">
								<div class="goods-title"><a href="__APP__/Home/Goods/detail?gid={$love.gid}">{$love.name}</a></div>
								<div class="goods-price">¥{$love.price}</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
			<!-- 区块4 -->
			<div class="publicblock block2">
				<div class="block-title">
					<h5>热销商品</h5>
				</div>
				<div class="block-main">
					<volist name="hotsold" id="hotsold">
						<div class="goods-block" title="{$hotsold.name}">
							<a href="__APP__/Home/Goods/detail?gid={$hotsold.gid}"><div class="goods-block-img"><img src="__PUBLIC__/image/goods/{$hotsold.img}"></div></a>
							<div class="goods-block-description">
								<div class="goods-title"><a href="__APP__/Home/Goods/detail?gid={$hotsold.gid}">{$hotsold.name}</a></div>
								<div class="goods-price">¥{$hotsold.price}</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
			<!-- 区块5 -->
			<div class="publicblock block3">
				<div class="block-title">
					<h5>美食看看</h5>
				</div>
				<div class="block-main">
					<volist name="look" id="look">
						<div class="goods-block" title="{$look.name}">
							<a href="__APP__/Home/Goods/detail?gid={$look.gid}"><div class="goods-block-img"><img src="__PUBLIC__/image/goods/{$look.img}"></div></a>
							<div class="goods-block-description">
								<div class="goods-title"><a href="__APP__/Home/Goods/detail?gid={$look.gid}">{$look.name}</a></div>
								<div class="goods-price">¥{$look.price}</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
			<!-- 区块3 -->
			<div class="publicblock block4" style="display:none;">
				<div class="block-title">
					<h5>促销打折</h5>
				</div>
				<div class="block-main">
					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>
					<!-- repeat from sql -->
					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>
					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>
					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>

					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>
					<div class="goods-block" title="百草味 台湾特色糕点 凤梨酥300g/盒 美食">
						<a href=""><div class="goods-block-img"><img src="__PUBLIC__/image/goods/goodsimg.jpg"></div></a>
						<div class="goods-block-description">
							<div class="goods-title"><a href="">百草味 台湾特色糕点 凤梨酥300g/盒 美食</a></div>
							<div class="goods-price">¥16.90</div>
						</div>
					</div>
					<!--  -->
				</div>
			</div>
		</div>
	</div>
	<!-- 中心区 end -->

	<!-- 引入尾部 -->
	<include file="./Application/Home/View/Public/footer.html" />
</div>
</body>
</html>