<!-- 
author : sudonglin
version : 1.0
date : 2016.7.9
description : 个人中的购物车页面
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>电子商城</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bought.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_base.css">
	</head>
	<body>
		<!--头部包含-->
		<include file="./Application/Home/View/Public/p_header.html" />
		<!-- 总体布局 -->
		<div class="contant">
			<div class="contanter">
			<!-- 侧边栏 -->
				<div class="left">
					<ul>
						<li><a href="">所有订单</a></li>
						<li><a href="">待评价</a></li>
						<li><a href="">待付款</a></li>
						<li><a href="">待发货</a></li>
						<li><a href="">待收货</a></li>
					</ul>
				</div>
				<!--订单内容-->
				<div class="right">
				 	<div class="series"><p>所有订单</p></div> 
				 	<div class="">
				 		<table>
				 			<thead>
				 				
				 			</thead>
				 			<tbody>
				 				
				 			</tbody>
				 		</table>
				 	</div>
				</div>
			</div>
		</div>
	</body>
</html>