<!-- 
author : sudonglin
version : 1.0
date : 2016.7.10
description : 个人中的购物车页面
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/person.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	</head>
	<body>
		<!--头部包含-->
		<include file="./Application/Home/View/Public/p_header.html" />
		<!-- 总体布局 -->
		<div class="contant">
			<div class="contanter">
				 	<div class="things">
				 	<!-- 表格控制布局 -->
				 		<table class="tab">
				 		<!-- 表头 -->
				 			<thead>
				 				<tr>
				 					<th width="80px">&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" check="checked" name=""/>全选</th>
				 					<th width="395px">宝贝</th>
				 					<th width="150px">单价</th>
				 					<th widyh="150px">数量</th>
				 					<th width="150px">小计(元)</th>
				 					<th width="150px">全部操作</th>
				 				</tr>
				 			</thead>
				 			<!-- 表主体内容 -->
				 			<tbody>
				 				<tr class="cart_three">
				 			        <td width="80px"><input type="radio"/></td>
				 					<td width="440px">
				 						<div class="goods-item">
				 							<div class="cafa">
				 								<img title="【好食光】珍享&nbsp;&nbsp;美国进口樱桃 1kg果径约26-28mm"src="__PUBLIC__/image/goods/fruit.jpg"/>
				 							</div>
				 							<div class="link">
				 								<a href="">【好食光】珍享&nbsp;&nbsp;美国进口樱桃 1kg果径约26-28mm</a>
				 							</div>
				 						</div>
				 					</td>
				 					<td width="150px"><span>70</span></td>
				 					<td width="150px"><span>1</span></td>
				 					<td width="150px"><span>70</span></td>
				 					<td width="150px"><span><a href="">删除</a><br><a href="">移到我的关注</a></span></td>
				 				</tr>
				 			</tbody>
				 		
				 		</table>
				 	</div>
				</div>
			</div>
		
		<!-- 引入尾部 -->
		<include file="./Application/Home/View/Public/footer.html" />
	</body>
</html>