<!-- 
author : sudonglin
version : 1.0
date : 2016.7.11
description : 个人中的收藏店铺页面
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/person.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	</head>
	<body>
		<!--头部包含-->
		<include file="./Application/Home/View/Public/p_header.html" />
		<!-- 总体布局 -->
		<div class="contant">
			<div class="collect_contanter">
			<!-- 侧边栏 -->
				<div class="left">
					<ul>
						<li><a href="__URL__/collect">收藏的商品</a></li>
						<li><a href="__URL__/collect2" id="collect_shop">收藏的店铺</a></li>
					</ul>
				</div>
				<!--订单内容-->
				<div class="right"> 
				 	<div class="collect_things">
				 	<!-- 列表布局 -->
				 	<div class="liebiao">
				 				<div class="c2_goods">
				 					<div class="c2_brand">
					 					<div class="p2_img">
					 						<input type="checkbox" value="" name="">
					 						<a href=""><img src="__PUBLIC__/image/goods/collectshop.png"/></a>
					 					</div>
					 					<div class="p2_name">
					 						<a href="">&nbsp;&nbsp;良品铺子&nbsp;&nbsp;官方旗舰店</a>
					 						<div class="null"></div>
					 					</div>
										<div class="value">
											<a href="">关注人气：<strong>75816人</strong></a>
											<p href="">关注时间：<strong>2016-07-11</strong></p>
										</div>
										<div>
											<input class="submit" type="button" value="进入店铺"/>
										</div>
							            <div>
							            	<input class="submit2" type="button" value="联系客服"/>
							            	<input class="submit2" type="button" value="取消关注"/>
							            </div>
							        </div>
							        <div class="c2_material">
							        	<ul>
							        		<li>
							        			<div class="material">
								        			<div class="p_img">
					 									<a href=""><img src="__PUBLIC__/image/goods/liangpin.jpg"/></a>
							 						</div>
							 						<div class="price">
														<strong price="49.90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥142.00</strong>
													</div>
												</div>
						 					</li>
							        	<li>
							        			<div class="material">
								        			<div class="p_img">
					 									<a href=""><img src="__PUBLIC__/image/goods/liangpin.jpg"/></a>
							 						</div>
							 						<div class="price">
														<strong price="49.90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥142.00</strong>
													</div>
												</div>
						 					</li>
						 					<li>
							        			<div class="material">
								        			<div class="p_img">
					 									<a href=""><img src="__PUBLIC__/image/goods/liangpin.jpg"/></a>
							 						</div>
							 						<div class="price">
														<strong price="49.90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥142.00</strong>
													</div>
												</div>
						 					</li>
						 					<li>
							        			<div class="material">
								        			<div class="p_img">
					 									<a href=""><img src="__PUBLIC__/image/goods/liangpin.jpg"/></a>
							 						</div>
							 						<div class="price">
														<strong price="49.90">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥142.00</strong>
													</div>
												</div>
						 					</li>
							        	</ul>
							        </div>
				 				</div>


				 			

				 				
				 			 </div>
						 </div>
					</div>
				</div>
			</div>
			<script type="text/javascript" src="/e-market/Public/js/jquery.min.js"></script>
			<script type="text/javascript">
			    $(document).ready(function(){ 
				            $("#collect").css("background-color","#E43D00");
						    $("#collect_shop").css("color","#FF4400");
　                　}); 
                
               function f1(gid){
			       //alert(gid);
				   $.post("__URL__/add_delete_collect",{
				       id:gid
				   },function(res){
				       alert(res);
					   window.location.href="__URL__/collect";
				   });
			   }
			   function f2(gid){
			      $.post("__URL__/collect_delete",{
				       id:gid
				   },function(res){
				       alert(res);
					   window.location.href="__URL__/collect";
				   });
			   }
			</script>
		<!-- 引入尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
</body>
</html>