<!-- 
author : sudonglin
version : 1.0
date : 2016.7.10
description : 个人中的设置页面
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/setting.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
	</head>
	<body>
		<!--头部包含-->
		<include file="./Application/Home/View/Public/p_header.html" />
		<!-- 总体布局 -->
		<div class="contant">
			<div class="contanter">
			<!-- 侧边栏 -->
				<div class="left">
					<ul>
						<li><a href="__URL__/">个人信息</a></li>
						<li><a href="__URL__/">收货地址</a></li>
					</ul>
				</div>
				<!--订单内容-->
				<div class="right"> 
				 	<div class="things">
				 	
				 	
				    </div>
			</div>
		</div>
	</div>
		<!-- 引入尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
</body>
</html>