<!-- 
author : sudonglin
version : 1.0
date : 2016.7.11
description : 个人中的设置页面
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>好食光</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/setting.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/motaikuang.css">
	</head>
	<body>
		<!--头部包含-->
		<include file="./Application/Home/View/Public/p_header.html" />
		<!-- 总体布局 -->
		<div class="contant">
			<div class="contanter">
			<!-- 侧边栏 -->
				<div class="left">
					<ul>
						<li><a href="__URL__/center">个人信息</a></li>
						<li><a href="__URL__/setting">收货地址</a></li>
					</ul>
				</div>
				<!--订单内容-->
				<div class="right"> 
				 	<div class="things">
				 		<div class="address">

				 			<div class="addresslist">
				 				<div class="smc">
				 					<div class="litem">
				 						<div class="item">
				 							<span>收货人：<b>大帅哥</b></span>                     
				 						</div>
				 						<div class="item">
				 							<span>所在地区：<b>湖北省武汉市洪山区城区</b></span>
				 						</div>
				 						<div class="item">
				 							<span>地址：<b>湖北省武汉市洪山区 狮子山道 华中农业大学</b></span>                                     
				 						</div>
				 						<div class="item">
				 							<span>手机：<b>1567897773</b></span>
				 						</div>
				 						<div class="item">
				 							<span>电子邮箱<b>666666@qq.com</b></span>
				 						</div>
				 					</div>
				 					<div class="ritem">
				 						<div class="item">
				 							<span>支付方式: <b>在线支付</b></span
				 						</div>
				 						<div class="item">
				 							<span>配送方式: <b>配送区域内的由快递配送</b></span>
				 						</div>
				 						<div class="extra">
				 							<a class="theme-login">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">删除</a>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 		</div>	
				 		<div class="addresslist">
				 				<div class="smc">
				 					<div class="litem">
				 						<div class="item">
				 							<span>收货人：<b>大帅哥</b></span>                     
				 						</div>
				 						<div class="item">
				 							<span>所在地区：<b>湖北省武汉市洪山区城区</b></span>
				 						</div>
				 						<div class="item">
				 							<span>地址：<b>湖北省武汉市洪山区 狮子山道 华中农业大学</b></span>                                     
				 						</div>
				 						<div class="item">
				 							<span>手机：<b>1567897773</b></span>
				 						</div>
				 						<div class="item">
				 							<span>电子邮箱<b>666666@qq.com</b></span>
				 						</div>
				 					</div>
				 					<div class="ritem">
				 						<div class="item">
				 							<span>支付方式: <b>在线支付</b></span
				 						</div>
				 						<div class="item">
				 							<span>配送方式: <b>配送区域内的由快递配送</b></span>
				 						</div>
				 						<div class="extra">
				 							<a class="theme-login">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">删除</a>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 		</div>	 

				 		 <a class="btn btn-primary theme-login">新增收货地址</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666;">您已经创建<strong>2</strong>个收货地址，最多可创建20个</span>
				    </div>
			</div>
		</div>
	</div>
</div>
<!--  -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script>
jQuery(document).ready(function($) {
  $('.theme-login').click(function(){
  	//alert("hello");
      $('.theme-popover-mask').fadeIn(100);
      $('.theme-popover').slideDown(200);
  })
  $('.theme-poptit .close').click(function(){
      $('.theme-popover-mask').fadeOut(100);
      $('.theme-popover').slideUp(200);
  })

})
</script>
<div class="theme-popover">
     <div class="theme-poptit">
          <a href="javascript:;" title="关闭" class="close">×</a>
          <h3>添加收货地址</h3>
     </div>
     <div class="theme-popbod dform">
           <form class="theme-signin" name="loginform" action="" method="post">
                <div class="f1">
                	<em>* </em> 收&nbsp;货&nbsp;人&nbsp;：<input type="text" class=""/><span style="display:none">请您填写收货人姓名</span>
                </div>
                <div class="f1">
                	<em>* </em> 详细地址：<input type="text" class=""/><span style="display:none">请您填写收货人详细地址</span>
                </div>
                  <div class="f1">
                	<em>* </em> 手机号码：<input type="text" class=""/><span style="display:none">请您填写收货人手机号码</span>
                </div>
                  <div class="f1">
                	&nbsp;邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱&nbsp;&nbsp;&nbsp;：<input type="text" class=""/>
                </div>
                  <div class="f1">
                	<a style="margin-top:30px;"type="" class="btn">保存收货地址</a>
                </div>
           </form>
     </div>
</div>
<div class="theme-popover-mask"></div>
		<!-- 引入尾部 -->
<include file="./Application/Home/View/Public/footer.html" />
</body>
</html>